mat-toolbar{
    background-color:lightgray;
    color:white;
}
.sideContainer {
  width: 200px;
  height: 100%;
}

.sidenavContainer{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: grey;
  
}