.container{
    display:flex;
    flex-direction: column;
    width:100%;
    padding:30px;
    margin:10px;
}
.parent{
    background-color: lightcoral;
    padding:30px;
    display:flex;
    flex-direction:column;
    width:fit-content;
    border-radius: 30px;
}
.child{
    background-color: rgb(146, 216, 33);
    padding:30px;
  width:fit-content;
  margin-top:30px;
border-radius: 5px;
}