
<div class="main">
    <h2>Assignment 11</h2>
    <div class="inner">
    
    <div  appHighlightOnHover *ngFor="let q of questions">
    <p> <strong>Q:</strong>{{q.question}}</p>
<div *ngIf=" userRole === 'admin'">
    <p><strong>A:</strong>{{q.answer}}</p>
</div>

<div *ngIf="userRole ==='user1'||userRole==='user2'">
    <button (click)="q.show=!q.show">{{q.show?'Collapse':'Expand'}}</button>
    <div *ngIf="q.show">
         <p><strong>A:</strong>{{q.answer}}</p>
    </div>

</div>



</div> 
</div>
</div>