button{
    padding:10px;
    margin:30px;
    justify-content: space-evenly;
    background-color: blue;
    color:white;
    border-radius:10px;
    border:none;
}
button:hover{
    background-color: green;
}
.active{
    background-color: lightslategray;
}