body{
    padding:0;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     width:100%;
     height:100vh;
}
.container{
    background-color: rgb(209, 209, 69);
    padding:15px;
    border-radius: 10px;
    
}

textarea{
    width:calc(100% - 30px);
    padding:5px;
}

